.ingredient {
    margin-top: 24px;
    margin-bottom: 40px;
    margin-right: 12px;
    margin-left: 16px;
}

.ingredient_price {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
}

.ingredient_image {
    margin-bottom: 4px;
    margin-right: 16px;
    margin-left: 16px;
}

.ingredient_count {
    margin-right: 8px;
    margin-bottom: 0px;
}

.ingredient_currency {
    margin-bottom: 0px;
}

.ingredient_name {
    max-height: 48px;
    height: 48px;
    margin: 0px;
    display: flex;
    vertical-align: top;
    justify-content: center;
    text-align: center;
}

.image_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-around;
    margin-right: 4px;
}