.constructor {
    max-height: 912px;
    max-width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.order_info {
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-height: 64px;
}

.order_info_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.empty_container{
    max-height: 464px;
    height: 464px;
}

.empty_container_with_buns {
    max-height: 464px;
    height: 464px;
}