.constructor {
    max-height: 912px;
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.li {
    list-style-type: none;
}

.constructor-list {
    overflow-y: scroll;
    max-height: 464px;
}

.constructor-list-item {
    max-height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.constructor-list-item__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
}

.constructor-list-item__description {
    width: 524px;
    max-height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-height: 64px;
}

.order-info-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}