.ingredients-list-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingredients-list-item__price {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
}

.ingredients-list-item {
    margin-top: 24px;
    margin-bottom: 40px;
    margin-right: 12px;
    margin-left: 16px;
}

.ingredients-list-item__image {
    margin-bottom: 4px;
    margin-right: 16px;
    margin-left: 16px;
}

.ingredients-list-item__count {
    margin-right: 8px;
    margin-bottom: 0px;
}

.ingredients-list-item__currency {
    margin-bottom: 0px;
}

.ingredients-list-item__name {
    max-height: 48px;
    height: 48px;
    margin: 0px;
    display: flex;
    vertical-align: top;
    justify-content: center;
    text-align: center;
}