.header {
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;
    background: #1C1C21;
}

.header-container {
    flex-direction: row;
    max-width: 1260;
    justify-content: space-between;
}

.nav-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1260px;
    justify-content: space-between;
    align-items: center;
}

.nav-link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 10px;
    width: 178px;
    height: 56px;
    background: #1C1C21;
    text-decoration: none;
}

.nav-link__text {
    color: #8585AD;
    align-content: center;
}

.nav-link__text:active,
.nav-link__text:link,
.nav-link__text:visited {
    color: #8585AD;
}

