.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    box-sizing: border-box;
    position: absolute;
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;
    background: #1C1C21;
    border: 2px solid #4C4CFF;
}

.header__logo {
    box-sizing: border-box;
    background: #1C1C21;
    border: 1px dashed #4C4CFF;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.nav-link {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 8px;
    width: 178px;
    height: 56px;
    background: #1C1C21;
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
    text-decoration: none;
}

.nav-link__logo {
    border: 1px dashed #4C4CFF;
}

.nav-link__text {
    color: #8585AD;
    align-content: center;
    border: 1px dashed #4C4CFF;
}

.nav-link__text:hover {
    color: #f2f2f3;
}

.nav-link__text:active,
.nav-link__text:link,
.nav-link__text:visited {
    color: #8585AD;
}

