.constructor {
    max-height: 912px;
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: right;
}

.constructor-list {
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
    scroll-margin-left: 4px;
}

.constructor-list-item {
    max-height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.constructor-list-item__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
}

.constructor-list-item__description {
    width: 524px;
    max-height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.order-info-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}