.ingredient_detail{
    height: 435px;
    max-height: 720px;
    background-color: #1C1C21;
    border-radius: 5%;
}

.ingredient_info_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.ingredient_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.ingredient_name {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.ingredient_info_list__item_value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}