.burger-ingredients {
    max-height: 912px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

ul {
    padding: 0px;
    list-style-type: none;
}

.burger-ingredients-tabs {
    display: flex;
    flex-direction: row;
}

.burger-ingredients-list {
    overflow-y: scroll;
}