.header {
    height: 88px;
    top: 40px;
    background: #1C1C21;
}

.header_container {
    flex-direction: row;
    max-width: 1260;
    justify-content: space-between;
}

.header_logo {
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1240px;
    justify-content: space-between;
    align-items: center;
}

.nav_link_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 10px;
    width: 178px;
    height: 56px;
    background: #1C1C21;
    text-decoration: none;
}

.nav_link__text {
    color: #8585AD;
    align-content: center;
}

.nav_link__text_active {
    color: #F2F2F3
}

.nav_link__text:active,
.nav_link__text:link,
.nav_link__text:visited {
    color: #8585AD;
}

